<p id="post-ID">{{id}}</p>
<br />
<a href="/post/{{id}}">{{title}}</a>
<br />
{{body}}
<br />
{{format_date createdAt}}
<br />
{{format_date updatedAt}}
<br />
{{userId}}
<br />
{{User.username}}
<br />
<br />
<br />
<br />
<br />