<style>
    .post { border: 1px solid #ccc; padding: 10px; margin: 10px; border-radius:
    10px; } .post h2 { color: blue; }
</style>

{{! refer to  https://dribbble.com/signup/new for styling}}
<div class="post">
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <p>Posted by <strong>{{user.username}}</strong></p>
    {{user.user_id}}
    <p>Posted on {{format_date createdAt}}</p>
</div>

{{#each comments}}
    <div class="comment">
        <h2>{{comments.body}}</h2>
    </div>
{{/each}}

<form id="submit-comment">
    <label for="comment">Comment:</label>
    <textarea
        name="comment"
        id="comment"
        data-id="{{id}}"
        cols="30"
        rows="10"
    ></textarea>
    <button type="submit">submit</button>
</form>

<script src="/js/createComment.js"></script>